.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50.52px 92px 50.52px;
    height: 293px;
    margin: 0;
    align-items: center;
    
   
    
  
}


.header__menu-list {
    font-family: 'Raleway';
    justify-content: space-between;
    display: flex;
    width: 388px;
    height: 27px;
    flex-direction: row;
    align-items: flex-start;
   
    
}

.header__menu-item {
    list-style-type: circle;
    list-style-position: inside;
    
}


.header__menu-link {
   color: black;
   font-size: 18px;
   line-height: 1.2; 
   text-decoration: underline;
    text-underline-offset: 4px
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
    
}

.header__menu-item_active {
    list-style-type: none;
}

.header__logo {
    align-items: center;

}

.header__logo-img {
    height: 105px;
}

.address {
    font-family: 'Raleway';
    font-size: 18px; 
    line-height: 1.2;
    font-style: normal;
    padding-bottom: 3px;
    
    
}
.header__adress {
    padding: 8px 42px 1px 186px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__text {
    padding: 6px 25px 1px 187px;
}
 

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 757px;
    max-width: 1100px;
    position: relative;
    
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    color: #FFFF;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: auto;
    
}

.accent-span {
    display: block;

}

.text-left {
    padding-top: 165px;
    padding-left: 50px;
    letter-spacing: 0.3em;
}

.text-center {
    text-align: center;
    padding-top: 16px;
    letter-spacing: 0.3em;
    padding-left: 30px;
    
    
}

.text-right {
    text-align: right;
    padding-top: 17px;
    letter-spacing: 0.3em;
    padding-right: 19px;
}

.cover__description {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 51px;
    margin-left: 50px;
    margin-top: 106px;
    position: relative;
    z-index: 1;
    align-items: flex-start;
    justify-content: space-between;

    

}

.text__description {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    color: #FFFF;
    text-transform: uppercase;
    align-items: center;
    word-spacing: 18.5px;
    padding-top: 13px;
}

.text__button {
    font-weight: 500;
    font-size: 22px;
    color: #FFFF;
    background-color: transparent;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    border-color: #FFFF;
    
    
}

.lots {
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    
}

.lots__heading {
    width: 121px;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 26px;
    margin-top: 27px;

}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;
    
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-underline-offset: 3px;
    position: relative;
    z-index: 1;
    
    
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
}

.lots__footer {
    display: flex;
    width: 300px;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-left: 40px;
    padding-top: 29.5px;
    
}
.about {
    display: grid;
    width: 1052;
    height: 595;
    gap: 25px;
    grid-template-columns: 334px 1fr;
    padding: 156px 0px 0 24px;
}

.about__logo {
    display: block;
    background-color: #000;
    clip-path: circle(50%);
    height: 240px;
    width: 240px;
}

.about__logo-img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 148px;
}

.about__column {
    justify-self: center;
}

.about__title {
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 0 100px;
}

.about__text {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-bottom: 24px;
    
}

.footer {
    margin-top: 302px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    
}

.footer__address {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    font-weight: 400;
    font-size: 18px;
    gap: 4px;
    font-style: normal;
}

.footer__address-text {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

}

.footer__text {
    font-style: normal;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    
}

.footer__menu-list-active {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 27px;
    
}

.footer__social-list-item {
    letter-spacing: 10px;
}
